*{
    padding: 0;
    margin: 0;
}
.TelUl{
    text-align: right;
    margin-right: 100px;
    margin-top:3px;
}
.TelUl li{
    display: inline;
    margin-left: 3px;
}
#TelLi1{
    font-size:medium;
}
#TelLi2{
    font-size:smaller;
    color: gray;
}
li{
    cursor: pointer;
}
#RazerLogo{
    margin-left: 10%;
    margin-top: 2%;
}
#logo{
    height: 112,5px;
    width: 225px;
    cursor: pointer;
    float: left;
}
.sIcon{
    height: 30px;
    width: 30px;
    cursor: pointer;
    float: right;
}
.sIcon:hover{
    fill: gray;
}
.aIcon{
    height: 30px;
    width: 30px;
    margin-left: 15px;
    cursor: pointer;
    float: right;
}
.aIcon:hover{
    fill: gray;
   
}
.fIcon{
    height: 30px;
    width: 30px;
    margin-left: 13px;
    cursor: pointer;
    float: right;
}
.fIcon:hover{
    fill: gray;
   
}